<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd" bootstrap="vendor/autoload.php" backupGlobals="false" backupStaticProperties="false" processIsolation="false" stopOnFailure="false" colors="true">
  <testsuites>
    <testsuite name="Commentify test suite">
      <directory suffix="Test.php">./tests</directory>
    </testsuite>
  </testsuites>
  <coverage/>
  <php>
    <env name="APP_ENV" value="testing"/>
    <env name="APP_KEY" value="base64://RQtDi7if2mV279OH9IKA3QB8yQo0lKkmK/KV7zkLg="/>
    <env name="CACHE_DRIVER" value="array"/>
    <env name="QUEUE_CONNECTION" value="sync"/>
    <env name="ENV_FILE" value=".env.testing"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </source>
</phpunit>
